<div class="container">
  <div class="row" style="margin-top:15px;">
    <h5><%= params[:keyword] %>の検索結果</h5>
    <% @images.each do |image|%>
      <div class="col s4">
        <p> <%= image.created_at.strftime("%m/%d") %> </p>
        <%= link_to image_tag("wear_images/#{image.image_path}", style: "width:100%;"), image_path(image.id) %><br>
      </div>
    <% end %>
  </div>
<br>
